* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #91aed6;
    background: linear-gradient(to right, #91aed6, #2e3255);
}

.fondo {
    background-image: url(../images/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

#errores {
    color: red;
}